@import 'tailwindcss';

@theme {
  --color-surf-aqua: #3ddad7;
  --color-surf-seafoam: #9ef8e6;
  --color-surf-sand: #f4e4c1;
  --color-surf-driftwood: #c6a984;
  --color-surf-coral: #ff6b6b;
  --color-surf-navy: #1a3c40;
  
  /* Aqua colors from replit-1st-stab */
  --color-aqua-50: #f0fdff;
  --color-aqua-100: #ccf7fe;
  --color-aqua-200: #99eefd;
  --color-aqua-300: #5ae1fa;
  --color-aqua-400: #1ec9f0;
  --color-aqua-500: #02aed6;
  --color-aqua-600: #068bb4;
  --color-aqua-700: #0c6f92;
  --color-aqua-800: #145a76;
  --color-aqua-900: #154b63;
  --color-aqua-950: #083144;
  
  /* Sand colors from replit-1st-stab */
  --color-sand-50: #fdfcf9;
  --color-sand-100: #f9f6ed;
  --color-sand-200: #f2ead6;
  --color-sand-300: #e9d9b7;
  --color-sand-400: #ddc38a;
  --color-sand-500: #d3ac62;
  --color-sand-600: #c69552;
  --color-sand-700: #a67844;
  --color-sand-800: #86603d;
  --color-sand-900: #6e4f35;
  --color-sand-950: #3c291b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
